:root {
	--correct-background: hsla(125, 100%, 45%, 1);
	--wrong-background: hsla(55, 100%, 40%, 1);
}

* {
box-sizing: border-box; 
margin: 0; 
padding: 0;

}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
	background-color: hsla(0, 0%, 0%, .5);
	max-width: 37.5rem;
	text-align: center;
}

.answer-container {
	display: grid;
	grid-template-columns: repeat(5, 5rem);
	margin: 1rem auto 1rem auto;
	gap: .25rem;
	justify-content: center;
	align-items: center;
}

.letter-container, 
.key-correct, 
.key-wrong {
	border: 1px solid transparent;
	width: 5rem;
	height: 5rem;
	font-size: 2.25rem;
	padding: 1rem;
	text-align: center;
}

.letter-container {
	background-color: hsla(0, 0%, 0%, .25);
}

.keyboard-container {
	display: flex;
	flex-wrap: wrap;
	padding: .5rem;
	justify-content: center;
	gap: .5rem;
}

.keyboard-container-button {
	border: 4px solid transparent;
	box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 1);
	border-radius: .5rem;
	background-color: hsla(0, 0%, 0%, .4);
	width: 3rem;
	height: 3rem;
	font-size: 1.5rem;
	color: white;
}

.keyboard-container-button:active {
	transform: translateY(2px);
}

.keyboard-container-button:nth-child(11) {
	margin-left: 2rem;
}

.keyboard-container-button:nth-child(19) {
	margin-right: 3.5rem;
}

.keyboard-container-button:nth-child(20) {
	width: 5rem;
	font-size: 2rem;
}

.keyboard-container-button:nth-child(28) {
	width: 5rem;
}

.key-correct {
	background-color: var(--correct-background);
	color: black;
	animation: spin .5s linear;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
	  transform: rotateZ(90deg)
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
	  transform: rotateZ(270deg)
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.key-wrong {
	background-color: var(--wrong-background);
	color: black;
}

.alert-container,
.alert-container-won,
.alert-container-lost {
	border: 1px solid transparent;
	border-radius: 2rem;
	display: inline-block;
	padding: 1rem;
	margin: 1.5rem 0 1.5rem 0;
}

.alert-container {
	visibility: hidden;
}

.alert-container p, 
.alert-container-won p, 
.alert-container-lost p {
	color: white;
	font-size: 2rem;
}

.alert-container-won {
	background-color: purple;
}

.alert-container-lost {
	background-color: red;
}